@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
    font-family: sen;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

/* Injected */
